.continerNavBarDashBord {
  background: white;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 900;
  height: 60px;
  /* padding-bottom: 20px; */
}

.BoxNavBar {
  height: 100%;
}

.LogoNavBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: red; */
}

.BoxNavBar .LogoNavBar img {
  width: 130px;
  margin-left: 10px;
}

.BoxNavBar .LogoNavBar h2 {
  color: var(--TextColor);
  /* padding: 0; */
  margin: 0;
}

.BergarLine {
  font-size: 30px;
  color: var(--TextColor);
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

/* start showsideBar */
.tagsTow {
  position: fixed; /* تجعلها فوق المحتوى */
  top: 0px; /* تبدأ تحت الـ Navbar مثلاً */
  right: 0;
  width: 30%;
  height: 100vh; /* لا تأخذ طول الشاشة بالكامل */
  background: var(--ColorTow);
  overflow: hidden;
  z-index: 1000; /* فوق بقية العناصر */
  padding: 20px;
  border-radius: 8px;
  background: var(--mainColor);
  /* height: 100vh; */
}

.divClosTags {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-left: -20px;
}
.Closeicon {
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/* أنميشن الفتح */
.animateShow {
  animation: ShowTags 1s ease forwards;
  -webkit-animation: ShowTags 1s ease forwards;
}

/* أنميشن الإغلاق */
.animateHide {
  animation: HiddinTags 1s ease forwards;
  -webkit-animation: HiddinTags 1s ease forwards;
}

@keyframes ShowTags {
  from {
    transform: translateX(230px);
    -webkit-transform: translateX(230px);
    -moz-transform: translateX(230px);
    -ms-transform: translateX(230px);
    -o-transform: translateX(230px);
  }
  to {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

@keyframes HiddinTags {
  from {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  to {
    transform: translateX(380px);
    -webkit-transform: translateX(380px);
    -moz-transform: translateX(380px);
    -ms-transform: translateX(380px);
    -o-transform: translateX(380px);
  }
}

.sideBarNavBar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.ButtonSideBarNavBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ButtonSideBarNavBar button {
  width: 115px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px 0px;
  cursor: pointer;
  border: 2px solid white;
  background: var(--mainColor);
  color: white;
  font-size: 15px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.ButtonSideBarNavBar button:hover {
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  background: white;
}
/* end showsideBar */

@media (max-width: 1024px) {
  .BergarLine {
    display: block;
  }
}

@media (max-width: 600px) {
  .BoxNavBar .LogoNavBar h2 {
    font-size: 15px;
  }
  .BoxNavBar .LogoNavBar img {
    width: 100px;
  }
  .divClosTags {
    justify-content: end;
    margin-left: 0;
  }
  .Closeicon {
    font-size: 15px;
  }
}
